@import url(../css/general/style.css) all;

body{
    background: var(--background-color);
}
i{
    font-size: 30px;
    cursor: pointer;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
    font-weight: 600;
    font-size: 130%;
}

.advert{
    background: var(--inactive-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    margin: 0 auto;
    padding: .5em 1.5em;
    border-radius: 2em;
    cursor: pointer;
    width: 70%;
}
.advert i{
    font-size: 110%;
}
.bx-log-out-circle{
    color: #777;
}

.v-hr{
    height: 70px;
    background: #d5d5d5;
    border: none;
    margin: 0 auto;
    width: .2px;
}


.cgpa-holder{
    margin: 1em 0 0 0;
    padding: 1.5em 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cgpa-holder p{
    color: #777;
}
.cgpa{
    font-size: 400%;
    color: '';
    font-weight: 550;
    font-family: "Prompt", sans-serif;
}
.cgpa-holder h2 i{
    font-size: 50%;
    cursor: pointer;
}


.out-links{
    margin: 1em;
    padding: 1.5em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
}
.outlink-i{
    display: flex;
    align-items: '';
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}
.outlink-i i{
    font-size: 180%;
}
.outlink-i p{
    font-size: 80%;
    width: 5em;
}


.levels{
    margin: 1em;
}
.year1{
    background: var(--inactive-primary);
    margin-top: 1em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: 1.2em;
    cursor: pointer;
}
.levels i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50%;
}
.instr{
    font-size: 85%;
}