@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') all;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap') all;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap') all;

:root{
    --background-color:#0a071a;
    --color: #e6e6e6;

    --accent-color: #e0b219;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    font-size: 250%;
}
body{
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    color: var(--color);
    font-size: 13px;
    font-family: "Poppins", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 1em 0 1em;
}
header h1{
    font-family: "Caveat", cursive;
    letter-spacing: 4px;
    font-weight: 900;
}
header i{
    font-weight: 900;
    color: var(--accent-color);
}



.cgpa-pie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}
.pie{
    width: 18em;
    height: 18em;
    border: 15px solid var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cgpa{
    font-size: 400%;
    font-weight: 400;
}
.pie p{
    font-family: "Tiny5", sans-serif;
    letter-spacing: 5px;
    font-size: 120%;
}





.years{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 0 1.5em;
    margin-top: 6em;

}
.one-two,
.three-four{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 5em;
    width: 100%;
}
.one,.two,.three,.four{
    background: #ffffff1a;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}
.one-two p,
.three-four p{
    font-size: 160%;
    font-weight: 700;
    font-family: "Caveat", cursive;
}